<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ifruit">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/foreground_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/background_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.IFruit">
        <activity android:name=".controller.IncomeActivity"></activity>
        <activity android:name=".controller.InvoiceActivity">


        </activity>
        <activity android:name=".controller.ManagementActivity" />
        <activity
            android:name=".controller.AccountingActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".controller.AddContactActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".controller.DebtActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".controller.SalaryActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".controller.FruitInformationActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".controller.ContractActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".controller.RestoreActivity" />
        <activity
            android:name=".controller.SearchViewActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".controller.BackUpActivity" />
        <activity
            android:name=".controller.SMSPanelActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>

        </activity>
        <activity android:name=".controller.ForgotPasswordActivity" />
        <activity
            android:name=".controller.MainMenuActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".controller.CostActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".controller.SettingActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".controller.StaffManagingActivity" />
            
        <activity
            android:name=".controller.LoginActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".controller.MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">


             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>

<!--             <intent-filter>-->
<!--             <action android:name="android.intent.action.MAIN" />-->


<!--             <category android:name="android.intent.category.LAUNCHER" />-->
<!--             </intent-filter>-->

        </activity>
    </application>

</manifest>